%ul
  %li
    = link_to t('header.product'), products_path
  %li
    = link_to t('header.cart'), cart_index_path
  %li
    = link_to t('header.order'), orders_path
  %li
    = link_to t('header.account'), edit_user_registration_path
