%p#notice= notice
%h1 
  = t('category.categories')
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @categories.each do |category|
      %tr
        %td
        %td= category.name
%br/
