!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = t('mail.daily_report.header') 
    %ul
      - @orders.each do |order|
        %li
          = order.id
        %li
          = order.total_price
